* {
    font-family: Arial;
}

.week-date, .week-text, .number, .day-block, .time {
    text-align: center;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 60%;
}

th {
    height: 50px;
    background-color: mediumaquamarine;
    color: azure;
}

th, h2 {
    text-shadow: 0 1px 0 black;
}

table tr td:nth-child(1) {
    word-break: break-all;
}

.number, .day-name {
    text-align: center;
    font-weight: bold;
}

.day-name {
    font-size: 16px;
}

.day-date {
    font-size: 12px;
}

.day-block {
    transform: rotate(-90deg);
}

.time {
    font-size: 14px;
    margin-top: 10%;
    font-style: italic;
}

div.subject {
    font-weight: bold;
}

div.teacher, .day-date {
    font-style: italic;
}

div.place, div.teacher {
    font-size: 14px;
}

div.empty {
    opacity: 0;
}

.numerator, .denominator, .container {
    padding-left: 1em;
}

#heart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 48px; 
    visibility: hidden;
}
